<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <li class=""><a href="/"><i class="icon-home4"></i></a></li>
            <li><a href="{{ path('upload_index') }}"><i class="icon-upload"></i><span>Import tarif</span></a></li>
            <li>
                <a href="{{ path('comparateur_prix') }}"><i class="icon-chart"></i> <span>Comparateur des prix</span></a>
            </li>
            
            <li><a href=""><i class="icon-wrench"></i><span>Configuration</span></a></li>
        </ul>
    </div>
</div>
<!-- /main navigation -->
